@import"background.css";
@import"clock.css";

.hidden{
    display: none;
}
body {
    text-align: center;
    background-size: auto 100%;
    background-position: center center;

  }
  h1 {
    display: inline-block;
    padding: 1rem 2rem;
    background: transparent;
    font-weight: 900;
  }
input:first-child{
  color: white;

  }
input::placeholder{
  color:black;

}
ul{
  list-style: none;
}

.button-style{
  border: none;
  background-color: transparent;
}