@import"background.css";
@import"clock.css";
@import"page-design.css";
.hidden{
    display: none;
}
body {
    text-align: center;
    background-size: auto 100%;
    background-position: center center;
    color: white;

  }
  h1 {
    display: inline-block;
    padding: 1rem 2rem;
    background: transparent;
    font-weight: 900;
  }
input:first-child{
  color: white;

  }
input::placeholder{
  color:white;

}
ul{
  list-style: none;
}

.button-style{
  border: none;
  background-color: transparent;
}

#weather{
  color: white;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
#weather div:first-child{
  font-weight: 400;
}
#weather div:last-child{
  font-weight: 250;
}
i{
  color: white;
}



